
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


img {
    padding: 0%;
    margin: 0;
    border: 0ch;
}

table {
    margin: 0 auto;
}


.stolpci {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.split {
    height: 100%;
    width: 30%;
    position: fixed;
}
.left {
    padding: 200px 0;
    left: 0;
}
.right {
    padding: 200px 0;
    right: 0;
}
.middle {
    text-align: center;
    left: 30%;
    height: 100%;
    width: 40%;
    position: fixed;
}


.button {
    font-size: 18px;
    padding: 10px 24px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  }
  
