body {
    background-color: #F5F5F5;
}

h1 {
    text-align: center;
    color: #212121;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

#odjavagumb {
    float: right;
    font-size: 18px;
    padding: 10px 24px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

table {
    margin: 0 auto;
    border: solid 3px #212121;
    width: 75%;
    background-color: #9E9E9E;
}

#naslov_tabele {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#besedilo_tabele {
    font-size: 18px;
}

.split {
    height: 100%;
    width: 30%;
    position: fixed;
}

.left {
    left:0;
    padding: 200px 0;
}

.right {

    right: 0;
}

.middle {
    left: 30%;
    height: 100%;
    width: 40%;
    position: fixed;
}

.gumbi {
    background-color: #9E9E9E;
    text-align: center;
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 5px 10px #757575;
}
